<a href="https://colab.research.google.com/github/vladgap/Various/blob/main/CopyPasteToArray.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Converts copy-pasted Excel table to a string, and then to a 2D array. List of lists.

Excel table should be copied and pasted ctrl+shift+V between ''' and '''.

Row containing letters will be transformed to a list of strings.

In [76]:
a='''
1.1	ABC	5.6
2	4	7.4
1.9	0	4.6
'''

In [77]:
a

'\n1.1\tABC\t5.6\n2\t4\t7.4\n1.9\t0\t4.6\n'

In [78]:
def CopyPasteToArray(a):
  if a.startswith('\n'):
    b=a[1:]
  else:
    b=a
  if b.endswith('\n'):
    b=b[:-1]
  c=b.replace('\t',',')
  d=c.split('\n')
  f=[]
  for e in d:
    if e.replace(',','').replace('.','').isdigit(): # only digits no letters
      f.append(list(eval(e)))
    else:
      f.append(e.split(','))
  return f

In [79]:
CopyPasteToArray(a)

[['1.1', 'ABC', '5.6'], [2, 4, 7.4], [1.9, 0, 4.6]]

In [80]:
CopyPasteToArray('''
1.1	3
2	4
1.9	0
''')

[[1.1, 3], [2, 4], [1.9, 0]]